@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

.container-grid {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 130px;
    background-color: rgb(91, 91, 255);
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    list-style: none;

}

.menu a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 4px;
}

.menu a:hover {
    font-weight: bold;
    /* background-color: rgb(255, 250, 250); */
    color: black;
    border-radius: 10px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(4, 40, 107);
    margin: 8px;
    transition: 0.3s;
  }