@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

.container-grid {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 130px;
    background-color: rgb(204, 231, 204);
}